@import 'src/styles/modules/_colors';
@import '../../styles/modules/_variables';

.process-tracker {
  &--title {
    color: $white;
    font-size: 24px !important;
  }
  &-sections {
    margin-top: 40px;
  }
  .checkbox {
    margin-top: 37px;
  }

  .process-section {
    cursor: pointer;
  }

  button {
    margin-top: 31px;
  }

  &.onboarding {
    .process-section:first-child {
      pointer-events: none;
      cursor: not-allowed;
    }

    .checkbox-layout {
      padding: 0 10px;
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .process-tracker {
    &-sections {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
