@import '../../../styles/modules/colors';

.address-finder {

  .address-textarea {
    position: relative;

    img {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }

    &-required {
      position: absolute;
      right: 0;
      top: -20px;
      color: $warning;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
    }
  }

  .address-text-area {
    display: block;
    height: 100px;
    box-sizing: border-box;
    width: 100%;
    border-color: #eeeeee;
    /* TODO: update this and stick it in colours when there is an actual design */
    background: #eeeeee;
    padding: 10px;
    font-size: 14px;
    resize: none;

    &:focus {
      outline: none;
    }

    &.error {
      border-color: $warning;
      color: $warning;
    }
  }
}
