@import 'src/styles/modules/_colors.scss';
@import 'src/styles/modules/_mixins.scss';
@import 'src/styles/modules/_variables.scss';

.company-link {
  font-size: 16px;
  margin-bottom: 20px;
  padding: 35px 70px !important;
  background: url(../../assets/images/house.svg) 20px center no-repeat, url(../../assets/images/chevron-right.svg) right 20px center no-repeat;
  background-size: auto, 10px;
  cursor: pointer;

  border-radius: 10px;
  box-shadow: 0px 0px 5px $shadow;
  margin-bottom: $padding-vertical;
}
