@import 'src/styles/modules/_colors.scss';
@import 'src/styles/modules/_mixins.scss';
@import 'src/styles/modules/_variables.scss';

.company-link {
  font-size: 16px;
  margin-bottom: 20px;
  padding: $padding-vertical 70px;
  background: url(../../assets/images/house.svg) 10px center no-repeat, url(../../assets/images/chevron-right.svg) right center no-repeat;
  background-size: auto, 10px;
  cursor: pointer;
}
