@import 'src/styles/modules/_colors.scss';
@import 'src/styles/modules/_mixins.scss';

.error-box {
  font-size: 14px;
  margin-bottom: 20px;
  padding: 10px;
  background: $warning-offset;
  border: 1px solid $warning;
  color: $warning;
 
  > :last-child {
    margin-bottom: 0;
  }
}

.fullscreen {
  .error-box {
    color: $white;
    border-color: $white;
    background: $white-opaque;
  }
}
