@import '../../../styles/modules/colors';
@import '../../../styles/modules/variables';

.landing {
  .cards {
    padding: 60px 0 100px 0;

    &-content {
      display: flex;
      justify-content: center;
    }

    h2 {
      text-align: center;
      margin-bottom: 60px !important;
    }

    .card {
      box-shadow: 0 0 10px $shadow;
      width: 250px;
      min-height: 400px;
      padding: $padding-horizontal-unit * 2 + 0px;
      background: $white;

      &:nth-child(2n - 1) {
        left: 15px;
        z-index: 2;
        top: 60px;

        .card-name {
          background: $primary;
          padding: 5px 20px;
          text-transform: uppercase;
          font-size: 9px;
          display: inline-block;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &:nth-child(2n) {
        left: -15px;
        z-index: 1;
        opacity: 0.7;

        .card-explanation {
          line-height: 28px;
        }
      }

      &-name {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
      }

      &-price {
        display: flex;
        justify-content: center;
        align-items: baseline;
        font-size: 19px;

        > div {
          margin: 0 2px;
          width: 30px;

          &:first-child {
            text-align: right;
          }
        }

        &-value {
          font-size: 49px;
          font-weight: 600px;
          width: auto !important;
        }

        &-vat {
          font-size: 9px;
          text-align: center;
          margin-bottom: 20px;
        }
      }

      &-explanation {
        width: 80%;
        margin: 0 auto;
        font-size: 13px;
        text-align: center;
        padding: 10px 10px 20px 10px;
        font-weight: 300;
      }

      &-content {
        ul {
          width: 100%;
          font-size: 13px !important;
          padding-left: 20px;

          li {
            margin-bottom: 10px !important;
            padding-left: 20px;
            list-style-image: url(../../../assets/images/tick-bubble.svg);

            &:before {
              display: none;
            }
          }
        }
      }
    }
  }
}