$white: #ffffff;
$white-opaque: rgba($white, 0.4);

$grey: #eeeeee;

$primary: #8ac9c6;
$primary-offset: rgba($primary, 0.6);

$heading: #42505c;
$text: #2F5472;
$text-secondary: #616161;
$background-content: $white;

$background: #ccc;
$background-2: #A8CAD0;
$border: #2f5472;
$border-offset: rgba($border, 0.1);
$shadow: rgba(0,0,0,0.4);

$gradient-primary-1: #559bab;
$gradient-primary-2: #8ad9d0;

$gradient-secondary-1: #cef2e6;
$gradient-secondary-2: #f1f6cf;

$gradient-option-1: #f2b47e;
$gradient-option-2: #fec858;

$background-main-start: #559bab;
$background-main-end: #8ad9d0;

$background-account-start: #f27e8d;
$background-account-end: #f2b47e;

$warning: #ff5a62;
$warning-offset: rgba(#ff5a62, 0.2);
$rating-weak: $warning;
$rating-fair: #FFE066;
$rating-good: #52b648;
$rating-strong: #0c9609;
$disabled: #999999;

$payment-info-text-color: #616161;
$process-status: #f4b779;
$icon-button: #eeeeee;

$placeholder-text: #d2d2d2;

$modal-error-color: #EBB882;

$divider-color: #e6ebf0;

$background-info: #ededed;
