$padding-vertical-unit: 15;
$padding-horizontal-unit: 10;

$padding-vertical: $padding-vertical-unit + 0px;
$padding-horizontal: $padding-horizontal-unit + 0px;

$header-height: 40;

$breakpoint-desktop: 800px;

$max-width-unit: 900;
$max-width: $max-width-unit + 0px;
