@import '../../../styles/modules/_colors';
@import '../../../styles/modules/_variables';

.tiles {
  padding-top: 50px;
  
  .tile {
    margin-bottom: 50px;

    &:nth-child(2n) {
      margin-bottom: 0;
    }

    &-header {
      position: relative;
      height: 68px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      &:before {
        content: '';
        width: calc(100% - 100px);
        height: 4px;
        position: absolute;
        bottom: 0;
        right: 0;
        background: $primary;
      }
    }

    &-icon {
      width: 80px;

      img {
        width: 100%;
        display: block;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .tiles {
    display: flex;
    flex-wrap: wrap;

    .tile {
      margin: 0 50px 20px 0;
      width: calc(33% - 33px);

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}