@import 'src/styles/modules/_colors.scss';
@import 'src/styles/modules/_variables.scss';

.list {
  border-radius: 10px;
  margin-bottom: $padding-vertical-unit * 2 + 0px;
  background: $grey;

  &-row {
    border-bottom: 1px solid $border-offset;
    padding: 20px ($padding-horizontal-unit * 2 + 0px);

    h3 {
      margin: 0 !important;
    }

    &:last-child {
      border: 0;
    }

    > * {
      margin: 0;
    }
  }

  .show-all {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    padding: $padding-vertical $padding-horizontal;
    justify-content: center;

    &:after {
      content: '';
      display: inline-block;
      width: 20px;
      height: 18px;
      background: url(../../../assets/images/chevron-down.svg) right center no-repeat;
      background-size: 12px;
    }
  }
}
