@import 'src/styles/modules/_variables.scss';

.landing {
  .page-intro {
    text-align: center;
    max-width: 620px;
    margin: 0 auto;
    padding-top: 30px;

    p {
      font-size: 18px !important;
    }
  }

  &-content.orange, &-content.green {
    .page-intro {
      padding-top: 0;
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .landing {
    .page-intro {
      padding-top: 0;
    }
  }
}
