@import '../../styles/modules/_mixins';
@import '../../styles/modules/_variables';
@import 'src/styles/modules/_colors';

.menu {
  background: $white;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 110px 20px 20px;
  box-sizing: border-box;
  overflow: auto;

  &--list {
    list-style: none;
    color: $text;
    font-size: 20px;
    padding: 0;
    transition: all 0.4s;

    &.fade-in {
      opacity: 1;
    }

    &-item {
      margin-bottom: 30px;
      position: relative;
      padding-right: 30px;

      &:after {
        content: '';
        background: url('../../assets/images/chevron-right.svg') center right no-repeat;
        width: 10px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 2px;
      }
      
      a {
        display: block;
      }

      &-label {
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }

  &.menu-enter {
    transform: translateY(calc(-100% + 70px));
  }
  &.menu-enter-active {
    transform: translateY(0);
    transition: transform 400ms;
  }
  &.menu-exit {
    transform: translateY(0);
  }
  &.menu-exit-active {
    transition: transform 400ms;
    transform: translateY(calc(-100% + 70px));
  }
}

.fullscreen .menu {
  &.menu-enter {
    transform: translateY(-100%);
  }
  &.menu-enter-active {
    transform: translateY(0);
    transition: transform 400ms;
  }
  &.menu-exit {
    transform: translateY(0);
  }
  &.menu-exit-active {
    transition: transform 400ms;
    transform: translateY(-100%);
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .menu, .account .menu {
    position: relative;
    background: none;
    padding: 10px;
    height: auto;

    &--list {
      font-size: 14px;
      margin: 0;

      &-item {
        margin: 0 0 20px 0;
        font-size: 15px;
        line-height: 20px;

        &:after {
          display: none;
        }
      }
    }
  }
}
