@import '../Input/input.scss';

.select {
  label {
    @extend .text-input-label
  }

  select {
    appearance: none;
    box-sizing: border-box;
    padding: 10px 15px;
    width: 100%;
    border: 1px solid $border;
    border-radius: 5px;
    height: 43px;
    background: none;
    z-index: 10;
    font-size: 14px;
    color: $text;
    outline: 0;
    position: relative;
    z-index: 12;

    &.error {
      border-color: $warning;
      color: $warning;
    }
  }

  &-required {
    @extend .text-input-required
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: $padding-horizontal;
    top: 55%;
    width: ($padding-horizontal-unit * 2) + 0px;
    height: 20px;
    background: $primary;
    mask: url('../../../assets/images/chevron-down.svg') center center no-repeat;
    background-size: contain;
    z-index: 1;
  }
}
