@import 'src/styles/modules/_colors';

video {
  height: 200px;
}

.add-proof {
  margin-bottom: 10px;

  &-content {
    color: $text-secondary;
  }

  &-img {
    text-align: center
  }

  .capture, .confirm-happy {
    margin-top: 38px;
  }

  .confirm-happy {
    margin-bottom: 20px;
  }

  button.upload-file-button.link {
    font-size: 12px;
    margin: 12px auto;
    font-weight: 600;
    line-height: 2.5;
    letter-spacing: 0.8px;
  }

  .dropzone {
    text-align: center;
  }
}


