@import 'src/styles/modules/_colors';
@import 'src/styles/modules/_variables';

#container-circles {
  z-index: 10000;
}

.add-proof {
  z-index: 0;
  margin-bottom: 10px;
  position: relative;

  &-initial {
    width: 308px;
    height: 182px;
    margin: 0 auto;
    position: relative;
    display: flex;
    border: 1px solid $border-offset;
    border-radius: 5px;
    justify-content: center;
    align-items: flex-end;
    background: center center no-repeat;
    background-size: 18%;

    &-img {
      z-index: 3;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -70%);
      -moz-transform: translate(-50%, -70%);
      transform: translate(-50%, -70%);
    }

    &-name {
      font-size: 18px;
      margin: 0 0 0 10px;
    }

    &-label {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      padding-bottom: 20px;
    }
  }

  &.disabled {
    opacity: 0.4;
    pointer-events: none
  }

  &-content {
    color: $text-secondary;
  }

  &-img {
    text-align: center;
    z-index: 5;
  }

  &-start-camera, .confirm-image, .final-image {
    position: relative;
    width: 308px;
    height: 179px;
    margin-left: auto;
    margin-right: auto;
  }

  &-overlay {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    transform: translate(-50%, -50%);

    &.selfie {
      max-height: 80%;
    }
  }

  &-loading {
    font-style: italic;
    z-index: -1;
    margin-top: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -80%);
  }

  .capture, .confirm-happy {
    margin-top: 20px;
  }

  .confirm-happy {
    margin-bottom: 20px;
  }

  button.upload-file-button.link {
    font-size: 12px;
    margin: 12px auto;
    font-weight: 600;
    line-height: 2.5;
    letter-spacing: 0.8px;
  }

  .dropzone {
    text-align: center;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .add-proof {
    height: 234px;
    margin-bottom: 30px;
    padding-left: 430px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;

    &-initial {
      width: 398px !important;
      height: 232px;
      position: absolute;
      left: 0;
    }

    .react-html5-camera-photo>video, .confirm-img {
      height: 100% !important;
      width: 100% !important;
    }

    &-img {
      position: absolute;
      left: 0;
      top: 0;
      width: 400px;
      height: 100%;

      .confirm-image, .final-image {
        height: 100% !important;
        width: 100% !important;
        transform: scaleX(-1);
      }

      .confirm-buttons {
        display: flex;
        width: 100%;
        bottom: 0;
        left: 0;
        position: absolute;
        text-align: left;

        .button {
          margin-left: 0;
          margin-right: auto;
        }
      }
    }

    &-start-camera, .confirm-image, .final-image {
      width: 100% !important;
      height: 100% !important;
    }

    &-upload-file {
      .button.upload-file-button.link {
        padding: 0;
        margin: 0;
        line-height: 1;
      }
    }

    .intro-box {
      background: none;
      text-transform: uppercase;
      color: $primary;
      font-weight: 600;
      padding: 0;
    }

    &.proof-active {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 5;
      background: rgba(255,255,255,0.9);
      margin: 0;
      padding: 0;

      .react-html5-camera-photo, .confirm-img {
        width: 100%;

        > video {
          width: 100% !important;
          height: 100% !important;
        }
      }

      .add-proof-img {
        width: 100%;
        height: 100%;
        max-width: 800px;
        max-height: 474px;
        left: 50%;
        top: 50px;
        transform: translateX(-50%);
        border: 2px solid $border-offset;
      }

      .add-proof-text {
        position: fixed;
        top: 560px;
        width: 50% !important;
        left: 25%;
        text-align: center;
      }

      .confirm-buttons {
        position: fixed;
        bottom: 10px;
        width: 80% !important;
        left: 10%;
        display: flex;
        justify-content: space-between;

        .button {
          margin: auto;
        }
      }

      .happy-text {
        position: fixed;
        bottom: 50px;
        width: calc(80% - 40px) !important;
        left: 10%;
        background: $white-opaque;
        padding: 20px;
      }

      .add-proof-upload-file {
        display: none;
      }
    }
  }
}
