@import 'src/styles/modules/_colors';

#container-circles {
  z-index: 10000;
}

.add-proof {
  z-index: 0;
  margin-bottom: 10px;

  &-initial {
    width: 310px;
    height: 181px;
    margin: 0 auto;
    position: relative;

    &-img {
      z-index: 3;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -70%);
      -moz-transform: translate(-50%, -70%);
      transform: translate(-50%, -70%);
    }

    &-camera-icon {
      z-index: 3;
      position: absolute;
      left: 35%;
      top: 75%;
      -webkit-transform: translate(-0%, -70%);
      -moz-transform: translate(-50%, -70%);
      transform: translate(-50%, 0%);

      &.selfie {
        left: 40%;
      }
    }

    &-name {
      z-index: 3;
      position: absolute;
      left: 55%;
      top: 73%;
      -webkit-transform: translate(-0%, -70%);
      -moz-transform: translate(-50%, -70%);
      transform: translate(-50%, 0%);
      font-size: 18px;

      &.selfie {
        left: 55%;
      }
    }
  }

  &.disabled {
    opacity: 0.4;
    pointer-events: none
  }

  &-content {
    color: $text-secondary;
  }

  &-img {
    text-align: center;
    z-index: 5;
  }
  &-start-camera {
    position: relative;
  }

  &-overlay {
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    &.selfie {
      width: 120px;
    }
  }

  &-loading {
    font-style: italic;
    z-index: -1;
    margin-top: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -80%);
  }

  .capture, .confirm-happy {
    margin-top: 60px;
  }

  .confirm-happy {
    margin-bottom: 20px;
  }

  button.upload-file-button.link {
    font-size: 12px;
    margin: 12px auto;
    font-weight: 600;
    line-height: 2.5;
    letter-spacing: 0.8px;
  }

  .dropzone {
    text-align: center;
  }
}
