@import '../../../styles/modules/colors';
@import '../../../styles/modules/variables';
@import '../Input/input.scss';

.input-phone {
  @extend .text-input;

  &-label {
    @extend .text-input-label;
  }

  &-required {
    @extend .text-input-required;

    + .input-phone-box {
      border-color: $warning;
    }
  }

  &-box {
    @extend .text-input;
    display: flex;
    border: 1px solid $border;
    border-radius: 5px;
    align-items: stretch;

    input[type=text], input[type=number] {
      outline: 0;
      box-shadow: none !important;
      padding: 0;
      margin: $padding-horizontal 0;
      border: 0;
    }
  }

  &-country {
    border-right: 1px solid $border;
    margin-right: $padding-horizontal;
    display: flex;
    align-items: center;

    select {
      position: relative;
      z-index: 2;
      appearance: none;
      padding: 0 ($padding-horizontal-unit * 3) + 0px 0 0;
      margin: 0;
      background: none;
      border: 0;
    }

    .flag-select {
      padding: 0;

      .selected--flag--option {
        height: 30px;
        display: flex;
        align-items: center;
      }

      .flag-options {
        padding-top: 0;

        .filterBox {
          margin: 0 8px;
          width: calc(100% - 16px);

          input {
            margin-bottom: 0;
          }
        }
      }

      .country {
        &-flag {
          display: block;
          width: 80px !important;
          height: auto !important;
          line-height: normal;
        }

        &-label {
          font-size: 14px;
          color: $text;
        }
      }
    }

    // &:after {
    //   content: '';
    //   display: block;
    //   position: absolute;
    //   right: $padding-horizontal;
    //   top: 0;
    //   width: ($padding-horizontal-unit * 2) + 0px;
    //   height: 100%;
    //   background: $primary;
    //   mask: url('../../../assets/images/chevron-down.svg') center center no-repeat;
    //   background-size: contain;
    //   z-index: 1;
    // }
  }

  ul.flag-selector {
    list-style: none;

    li {
      position: absolute;
      top: 0;
      left: 0;
      background: $white;
    }
  }
}
