@import 'src/styles/modules/_variables.scss';

.more-information {
  &-cta.chat {
    width: 223px;
    margin: 0 auto;
    margin-bottom: 85px;
  }

  &-expanded {
    height: 100%;
    width: 100%;
    margin-left: (- ($padding-horizontal-unit * 2) + 0px);
    margin-right: -(($padding-horizontal-unit * 2) + 0px);
    padding-right: (($padding-horizontal-unit * 2) + 0px);
    padding-left: (($padding-horizontal-unit * 2) + 0px);
    background-color: #ededed;
    margin-bottom: 35px;
    &-title {
      font-size: 22px;
      padding-top: 30px;
    }
    &-info {
      margin-bottom: 25px;
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .more-information {
    &-expanded {
      background: none;
    }
  }
}
