@import 'src/styles/modules/_variables.scss';
@import 'src/styles/modules/_colors.scss';

.shareholder {
  margin-bottom: 30px;

  &-detail {
    margin-bottom: $padding-vertical-unit * 2 + 0px;
  }

  .table-headers {
    padding-left: calc((100% - ((50px + #{$padding-horizontal-unit * 1.75 + 0px}) * 2)));
    display: flex;
    margin-bottom: $padding-vertical;

    > div {
      width: 48px;
      font-size: 11px;
      margin-right: $padding-horizontal-unit * 1.75 + 0px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      color: $text-secondary;
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .shareholder-detail {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    .table-headers {
      display: flex;
      justify-content: flex-end;
      font-size: 11px;
    }
  }
}
