@import '../../styles/modules/colors';
@import '../../styles/modules/variables';

.account-pending {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $border;
  background: $white;
  height: 100%;
  padding: $padding-vertical $padding-horizontal;

  &--title {
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 313px;
    height: 54px;
    font-size: 27px;
    font-weight: 300;
    line-height: 2;
    margin-top: 22px;
  }

  &--copy {
    height: 79px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.29;
    margin-top: 22px;
    margin-right: 40px;
    margin-left: 40px;
  }

  &--img {
    margin-top: 13px;
    width: 302px;
    height: 194px;
    object-fit: contain;
  }

  .intro-box {
    margin-top: 40px;
  }
}

.contact-us {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-top: 22px;
}
