@import '../../styles/modules/_colors';

.advantages {
  &-section {
    h2 {
      text-align: center;
      margin-bottom: 0 !important;
    }

    .sub-heading {
      text-align: center;
      font-size: 17px;
      color: $disabled;
      top: -15px;
      margin-bottom: 10px;
    }
  }
}
