@import 'src/styles/modules/_variables.scss';
@import '../../styles/modules/_colors';

.advantages {
  &-img {
    margin: (($padding-vertical-unit * 2) + 0px) (- ($padding-horizontal-unit * 2) + 0px);
  }
  &-uk-tax, &-company {
    margin-bottom: 120px;
    &-title {
      font-size: 13px;
      font-weight: bold;
      line-height: 2.15;
    }

    &-info {
      line-height: 1.75;
    }

    &-more {
      width: 100%;
      &-expanded {
        position: relative;
        &-info {
          float: right;
          font-size: 10px;
          color: $text-secondary;
          width: 236px;
          margin-top: 28px;
        }
      }
    }
  }

  &-btn.chat.button {
    width: 223px;
    margin: 83px auto;
    margin-top: 83px;
  }
}
