
@import 'src/styles/modules/_colors';
@import 'src/components//IntroSlider/intro-slider.scss';

.confirmation {
  &--image-wrapper {
    @extend .slick-slide--image-wrapper;
  }

  &--heading {
    font-size: 36px;
    padding: 20px 0;
  }

  .button {
    display: block;

    &:not(.link) {
      margin: 35px auto 50px;
    }

    &.link {
      margin: 0 auto;
      color: $text-secondary;
      font-size: 14px;
    }
  }

  > p {
    color: $text-secondary;
  }

}

.documents {
  color: $white;
  .confirmation--image-wrapper {
    background: $background-2;
  }

  .button.link {
    color: $white;
    margin-top: 40px;
  }
}
