@import '../../styles/modules/colors';
@import '../../styles/modules/variables';

.create-account {
  padding: $padding-vertical (($padding-horizontal-unit * 2) + 0px);
  background: $white;
  height: 100%;
}
