@import 'src/styles/modules/_variables.scss';
@import 'src/styles/modules/_colors';
@import 'src/styles/modules/_animations';

.how-it-works {

  &-img {
    margin: (($padding-vertical-unit * 2) + 0px) (- ($padding-horizontal-unit * 2) + 0px);
    margin-top: 104px;
  }

  ul {
    list-style: discs;
    margin-bottom: 30px;
    margin-top: 57px;
    padding: 0;
    position: relative;

    .how-it-works-step-verticalLine {
      position: absolute;
      width: 1px;
      border-left: solid 0.5px $text-secondary;
      left: 49px;
      top: 15px;
    }
  }

  &-steps {
    z-index: 0;
  }

  &-step {
    display: flex;
    padding-right: 10px;
    img {
      width: 28px;
      height: 28px;
      position: absolute;
    }

    &-li {
      margin-left: 65px;
    }

    &-title {
      font-size: 14px;
      font-weight: bold;
      line-height: 2.15;
    }

    &-copy {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.75;
    }

    &.bounceIn {
      animation-name: bounceIn;
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .how-it-works {
  
    ul {
      .how-it-works-step-verticalLine {
        left: 83px;
      }
    }
    
    &-step {  
      img {
        width: 40px;
        height: 40px;
      }

      &-li {
        margin-left: 100px;
      }
    }
  }
}
