@import '../../styles/modules/_variables';
@import '../../styles/modules/_colors';

.intro {

  &--hero-image {
    background: url('../../assets/images/oval.svg') no-repeat;
    background-position: 40% 0%;
    background-size: 80% 85%;
    width: 100%;
    text-align: center;
  }

  &--buttons-container {
    margin-top: 30px;

    .button.small.opaque {
      width: 70%;
      padding-top: 15px;
      padding-bottom: 15px;
      margin: 30px auto 0;
    }
  }

  p {
    font-size: 18px;
  }
}

canvas {
  display: none;
}

@media screen and (min-width: $breakpoint-desktop) {
  .intro {
    padding-bottom: 200px;

    div {
      z-index: 2;
    }

    h2 {
      color: $text !important;
      font-weight: 300;
    }
  }

  canvas {
    display: block;
    width: calc(100% + #{$padding-horizontal-unit * 4 + 0px});
    height: 200px;
    position: absolute;
    bottom: - $padding-vertical;
    left: - ($padding-horizontal-unit * 2 + 0px);
    z-index: 1;

    path {
      background: #fff;
    }
  }
}
