@import 'src/styles/modules/_variables';
@import 'src/styles/modules/_colors';

.intro {

  &--hero-image {
    background: url('../../assets/images/oval.svg') no-repeat;
    background-position: center center;
    background-size: 70%;
    width: 100%;
    text-align: center;
  }

  &--buttons-container {
    margin-top: 30px;

    .button.small.opaque {
      width: 70%;
      padding-top: 15px;
      padding-bottom: 15px;
      margin: 30px auto 0;
      font-size: 12px;
    }
  }

  p {
    font-size: 18px;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .intro {

    &--buttons-container {

      .button.small.opaque {
        font-size: 10px;
      }
    }

    div {
      z-index: 2;
    }

    h2 {
      color: $text !important;
      font-weight: 300;
    }
  }
}
