@import '../../styles/modules/_colors';
@import '../../styles/modules/_variables';

.partnerships {
  .page-intro {
    p {
      text-align: left;
    }
  }

  &-form {
    display: flex;
    align-items: flex-end;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;

    .error-box {
      width: 100%;
    }

    .text-input {
      width: calc(100% - 20px - 150px);
      margin-right: 20px;
      margin-bottom: 0;

      &-wrapper {
        padding: 5px 10px;
      }
    }

    .button {
      width: 150px;
      display: block;
    }
  }
}
