@import '../../styles/modules/_colors';
@import '../../styles/modules/_variables';

.partnerships {
  &-img {
    width: 80px;
    margin: 100px auto;
    display: flex;
  }
  &-title {
    font-size: 24px;
    line-height: 2.5;
    color: $text;
    margin: 15px 0;
  }

  &-content {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
    color: $heading;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .partnerships {
    .form {
      max-width: 300px;
      margin: 0 auto;
    }
  }
}
