@import '../../styles/modules/_colors';
@import '../../styles/modules/_variables';

.partnerships {
  .page-intro {
    p {
      text-align: center;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    .error-box {
      width: 100%;
    }

    .text-input {
      margin-bottom: 20px;
      width: 100%;

      &-wrapper {
        padding: 5px 10px;
      }
    }

    .button {
      width: 150px;
      display: block;
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .partnerships {
    .page-intro {
      p {
        text-align: left;
      }
    }
  
    &-form {
      max-width: 560px;
      flex-direction: row;
      align-items: flex-end;

      .text-input {
        width: calc(100% - 20px - 150px);
        margin-right: 20px;
        margin-bottom: 0;
      }
    }
  }
}
