@import 'src/styles/modules/_colors';
@import 'src/styles/modules/_variables.scss';

.landing {
  .pricing {
    .boxes {
      .box {
        box-shadow: 0 0 10px $shadow;
        padding: ($padding-horizontal-unit * 5 + 0px) ($padding-horizontal-unit * 3 + 0px) ($padding-horizontal-unit * 3 + 0px);
        margin-bottom: 30px;

        &:nth-child(1) {
          border: 2px solid $primary;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
