@import '../../styles/modules/_colors';
@import 'src/styles/modules/_variables.scss';

.whatWeDo {
  &-img {
    width: 237px;
    float: right;
    margin: (($padding-vertical-unit * 2) + 0px) (- ($padding-horizontal-unit * 2) + 0px);
  }

  &-title {
    line-height: 2.5;
    color: $text;
  }
  &-content {
    p {
      margin-bottom: 30px;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.75;
      color: $heading;
    }
  }
}
