
.your-signature--saved-image, .m-signature-pad, .upload-signature--signature-wrapper {
  border: 1px solid $text-secondary;
  border-radius: 5px;
  height: 150px;
  margin-bottom: 40px;
  width: 100%;
}
