.contact-us {
  width: 86px;
  height: 30px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: 0.9px;
  color: #8ac9c6;
  text-decoration: underline;
}
