@import '../../../styles/modules/variables';

.sections {
  padding: 30px 0;
  
  .section {
    &-inner {
      display: flex;
      padding: 30px 0;
      flex-direction: column;
    }

    &-text {
      .button.get-started {
        margin: 40px auto 20px auto;
      }
    }

    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;

      &.jsx {
        display: block;
      }

      &:not(.imageFull) {
        img {
          max-width: 200px;
          max-height: 150px;
        }
      }
    }

    &-expand {
      cursor: pointer;
      display: inline;
      text-decoration: underline;
    }

    &-more {
      padding-left: 35%;
    }

    ul {
      width: 90%;
    }
  }

  &.reversed {
    .section:nth-child(2n-1) {
      .section-inner {
        flex-direction: column;
      }
    }
    .section:nth-child(2n) {
      .section-inner {
        flex-direction: column;
      }
    }
  }
}

.landing-content.trust {
  .sections {
    &.reversed {
      .section-inner {
        flex-direction: column-reverse;

        div:last-child {
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .sections {
    .section {
      &-inner {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
      }

      &-text {
        width: 65%;

        .button.get-started {
          margin: 60px 0 0 0;
        }
      }
  
      &-image {
        width: 25%;
        margin-bottom: 0;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      &:nth-child(2n) {
        .section-inner {
          flex-direction: row;
        }
      }
    }

    &.reversed {
      .section-inner {
        flex-direction: row !important;
      }
  
      .section:nth-child(2n) {
        .section-inner {
          flex-direction: row-reverse !important;
        }
      }
    }
  }
}