@import '../../styles/modules/colors';

.strength-meter {
  width: 100%;
  text-align: left;

  &-progress {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;

    &::-webkit-progress-bar {
      background-color: #eee;
      border-radius: 5px;
    }

    &::-webkit-progress-value {
      border-radius: 5px;
      background-size: 35px 20px, 100% 100%, 100% 100%;
    }
  }

  &-label {
    font-size: 14px;
  }
}

.strength {
  &-Weak::-webkit-progress-value {
    background-color: $rating-weak;
  }

  &-Fair::-webkit-progress-value {
    background-color: $rating-fair;
  }

  &-Good::-webkit-progress-value {
    background-color: $rating-good;
  }

  &-Strong::-webkit-progress-value {
    background-color: $rating-strong;
  }
}