@import 'src/styles/modules/_colors.scss';
@import 'src/styles/modules/_variables.scss';
@import 'src/styles/modules/_mixins.scss';

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
  border: 1px solid $border-offset;
  padding: (($padding-horizontal-unit * 2) + 0px) $padding-vertical;
  transition: all 0.2s linear;
  background: none;

  &.clickable {
    cursor: pointer;
    border-radius: 10px;
    border-color: $border;
  }

  &-title {
    &-header {
      text-transform: uppercase;
      margin-bottom: 5px;
    }
  }

  &-text {
    font-size: 12px;
  }

  &-value {
    color: $primary;
    font-size: 48px;
    line-height: 36px;
  }

  &.selected {
    border-color: $gradient-option-1;
    @include gradient-horizontal($gradient-option-1, $gradient-option-2);

    .option-value {
      color: $text;
    }
  }
}