@import 'src/styles/modules/_colors';

.process-section {
  height: 100px;
  background: white;
  margin: 0;
  margin-bottom: 3px;
  overflow: hidden;

  &.is-disabled {
    pointer-events: none;
    opacity: 0.4;
  }

  &-img {
    float: left;
    width: 26%;
    margin: 10px;
  }

  img {
    width: 80px;
    height: 80px;
  }

  &-body {
    float: left;
    margin-top: 17px;

    h3 {
      margin-bottom: 5px;
    }
    p {
      margin-bottom: 0;
    }
  }

  &-complete, &-todo {
    color: $process-status;
    font-style: italic;
  }

  &-incomplete {
    width: 100px;
    height: 26px;
    border-radius: 13px;
    background-image: linear-gradient(105deg, #f27e8d, #f29886 49%, #f2b47e);
    text-align: center;
    margin-top: 4px;
    p {
      color: $white;
      padding: 4px;
      font-style: italic;
    }
  }
}
