@import 'src/styles/modules/_colors';
@import '../../styles/modules/_variables';

.process-section {
  min-height: 100px;
  background: white;
  margin: 0;
  margin-bottom: 3px;
  overflow: hidden;
  display: flex;

  &.is-disabled {
    pointer-events: none;
    opacity: 0.4;
  }

  &-img {
    padding: 10px;
    margin: 10px;
  }

  img {
    min-width: 70px;
    width: 70px;
    height: 70px;
  }

  &-body {
    margin: 15px 0;
    padding-right: 20px;

    h3 {
      font-weight: 400;
      margin-bottom: 5px;
    }
    p {
      margin-bottom: 5px;
    }
  }

  &-complete, &-todo, &-signed, &-not-signed, &-incomplete {
    font-style: italic;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .process-section {
    width: calc(33% - #{$padding-horizontal-unit * 4 + 0px});
    margin: 0 $padding-horizontal $padding-vertical $padding-horizontal;
    box-shadow: 0px 0px 10px $shadow;
    flex-direction: column;
    padding: $padding-vertical $padding-horizontal;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    
    &-body {
     padding: 0; 
    }

    &-complete, &-todo, &-signed, &-not-signed, &-incomplete {
      padding-top: 10px;
      color: $process-status;
    }
  }
}
