.shareholder-choice {

  &-icon {
    display: block;
    margin: 40px auto;
  }

  &-add-btn {
    margin-top: 58px;
  }

  &-no-btn {
    margin-top: 20px;
  }

  &-choice {
    h1 {
      font-size: 34px !important;
      font-weight: 300 !important;
      margin-top: 30px !important;
    }
  }

  &-question {
    margin-top: 40px;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.26;
  }
}
