@import 'src/styles/modules/_colors';
@import 'src/styles/modules/_variables';
@import 'src/styles/modules/_mixins.scss';

.company-overview {
  .company-header {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 16px;
    color: $heading;
    padding: 10px 15px 10px 35px;
    background: url('../../../assets/images/house.svg') left center no-repeat;
    background-size:  25px;
    margin-bottom: ($padding-vertical-unit * 2) + 0px;
    
    &.link {
      padding: $padding-vertical $padding-horizontal $padding-vertical (($padding-vertical-unit * 4) + 0px);
      background-position: ($padding-horizontal-unit * 2 + 0px) center;
      border-radius: 10px;
      cursor: pointer;
      border: 2px solid $grey;
    }

    &.back {
      background: url('../../../assets/images/chevron-left.svg') left 10px center no-repeat;
      background-size: 10px;
      border-radius: 10px;
      cursor: pointer;
      display: inline-block;
      border: 2px solid $grey;
    }

    &.profile {
      background-image: url('../../../assets/images/profile.svg');
      background-size: 30px;
    }
  }

  .bank-header {
    padding: $padding-vertical ($padding-horizontal-unit * 2 + 0px) ($padding-vertical-unit + 30px);
    margin: 0 ($padding-horizontal-unit * -2 + 0px) 0 ($padding-horizontal-unit * -2 + 0px);
    font-size: 24px;
    border-top: 1px solid $border-offset;

    &-company {
      font-size: 13px;
      margin-bottom: 5px;
    }

    &-label {
      font-size: 12px;
      margin: 0;
      letter-spacing: 1px;
      font-weight: 600;
    }

    &-account {
      margin-bottom: 20px;
      letter-spacing: 2px;
      border-top: 1px solid $border-offset;
      border-bottom: 1px solid $border-offset;
      margin: ($padding-vertical-unit * 1.5 + 0px) 0;
      padding: ($padding-vertical-unit * 1.5 + 0px) 0;

      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: $padding-vertical;
      }
    }

    &-info {
      background: $grey;
      padding: $padding-vertical;
      font-size: 14px;
      margin: ($padding-vertical-unit * 2 + 0px) 0;

      .bank-header-label {
        margin-bottom: 5px;
      }
    }

    &-toggle {
      font-size: 12px;
      font-weight: 600;
      display: flex;
      justify-content: center;
      cursor: pointer;

      &:after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 18px;
        background: url(../../../assets/images/chevron-down.svg) right center no-repeat;
        background-size: 12px;
      }

      &.open:after {
        background-image: url(../../../assets/images/chevron-up.svg);
      }
    }

    &-balance {
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 30px;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30px;
      @include gradient-horizontal-image($background-account-start, $background-account-end, '../../../assets/images/background.png');
      background-position: 0 -20px;
    }
  }

  .transaction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-header {
      margin-top: ($padding-vertical-unit * 3) + 0px;
      margin-bottom: ($padding-vertical-unit * 2) + 0px;
    }

    &-name {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 16px;
      color: $heading;
    }

    &-value {
      text-align: right;
    }

    &-sum {
      margin-bottom: 5px;

      &.debit {
        color: $warning;
      }
    }

    &-balance {
      font-size: 13px;
      font-weight: 300;
    }
  }

  &-section {
    padding-bottom: ($padding-vertical-unit * 2) + 0px;
    border-bottom: 1px solid $grey;
    margin-bottom: ($padding-vertical-unit * 2) + 0px;

    h2 {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 16px;
      color: $heading;
    }

    p {
      margin: 0;
      font-size: 16px;
    }

    ul {
      font-size: 16px;
      padding: 0;

      li {
        padding: $padding-horizontal 0 $padding-horizontal 30px;
        list-style-type: none;
        background: url('../../../assets/images/pdf.svg') left center no-repeat;
        background-size:  15px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .company-overview {
    .company-header {
      &.link {
        position: absolute;
        z-index: 2;
        top: -10px;
        right: 0;
        padding-left: $padding-vertical-unit * 3.5 + 0px;
        background-position: $padding-horizontal center;
      }

      &.back {
        margin-bottom: 0;
        top: - ($padding-vertical-unit * 1.5 + 0px);
      }
    }

    .bank-transactions {
      max-width: 600px;
      margin: 0 auto;
    }

    .bank-header {
      padding: ($padding-vertical-unit * 2 + 0px) ($padding-horizontal-unit * 4 + 0px) ($padding-vertical-unit * 2 + 30px);
      margin: $padding-vertical $padding-horizontal;
      border-radius: 10px;
      box-shadow: 0 0 10px $shadow;
      overflow: hidden;

      &-account {
        display: flex;
        justify-content: space-between;

        > div {
          display: block;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .company-overview.my-property {
    .company-overview-section {
      display: flex;
      padding-bottom: $padding-vertical;
      margin-bottom: $padding-vertical;

      h2 {
        width: 40%;
      }
    }
  }
}
