@import '../../styles/modules/_colors';
@import '../../styles/modules/_variables';

.meet-the-founders {
  .chat {
    color: $text;
    width: 169px;
    margin: 20px auto 30px auto;
  }

  &-expanded {
    h3 {
      text-align: center;
    }

    img {
      margin: 0 auto;
      display: flex;
      margin-bottom: 30px;
    }

    &-moubin {
      margin-bottom: 50px;
      &-img {
        width: 151px;
        height: 151px;
      }
    }
  }

  &-join-us {
    margin-top: 30px;
    border: 1px solid $border-offset;
    padding: $padding-vertical $padding-horizontal;
    border-radius: 10px;
    text-align: center;
  }

  &-closed {
    text-align: center;

    &-btn {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    h3 {
      margin-top: 10px;
    }
    &-moubin {
      float: left;
      width: 50%;
    }
    &-misrab {
      float: right;
      width: 50%;
      margin-bottom: 30px;
    }
    img {
      width: 115px;
      height: 115px;
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .meet-the-founders {
    &-expanded {
      display: flex;
      h3 {
        text-align: left;
      }

      img {
        margin: 0 0 30px 0;
      }

      > div {
        margin-right: 80px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &-join-us {
      padding: 0px 50px 30px 50px;
      margin-bottom: 50px;
    }
  }
}
