@import '../../styles/modules/_colors';
@import '../../styles/modules/_variables';

.meet-the-founders {
  .chat {
    color: $text;
    width: 169px;
    margin: 20px auto 30px auto;
  }

  &-bios {
    display: flex;
    justify-content: center;
    width: 100%;

    > div {
      margin: 0 10px;

      img.founder {
        width: 100%;
        max-width: 200px;
        border: 2px solid $border-offset;
      }
    }
  }

  &-expanded {
    h3 {
      text-align: center;
    }

    .meet-the-founders-bios {
      display: block;

      > div {
        img.founder {
          width: 100%;
          max-width: 300px;
        }
      }
    }
  }

  &-join-us {
    margin-top: 30px;
    border: 1px solid $border-offset;
    padding: $padding-vertical $padding-horizontal;
    border-radius: 10px;
    text-align: center;
  }

  &-closed {
    text-align: center;

    &-btn {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    h3 {
      margin-top: 10px;
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .meet-the-founders {

    &-expanded {

      h3 {
        text-align: left;
      }

      .meet-the-founders-bios {
        display: flex;

        > div {
          width: 0;
          flex-grow: 1;
          margin-right: 80px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    &-join-us {
      padding: 0px 50px 30px 50px;
      margin-bottom: 50px;
    }
  }
}
