@import 'src/styles/modules/_colors';

.acceptance-of-role {

  &-content {
    margin-bottom: 40px;
  }

  &-property-address {
    p {
      margin-bottom: 0;
      font-size: 16px;
      letter-spacing: 0.2px;
    }
  }

  .list {
    background-color: $white;
    width: 100%;

    &-row {
      h3 {
        font-size: 16px;
        letter-spacing: 2.2px;
        color: $heading;
        padding-top: 30px;
      }
    }
  }
  .radio-group {
    &--radio-wrapper {
      display: flex;
      justify-content: center;
      .radio {
        width: 111px;
        height: 47px;
        border: 1px solid #2f5472;
        border-radius: 5px;
        &:last-child {
          margin-left: 14px;
        }
      }
    }
    &--label {
      font-size: 19px;
      font-weight: 300;
      line-height: 1.37;
      margin: 35px auto;
      text-transform: none;
    }
  }
}
