@import 'src/styles/modules/_variables';

.form {
  &-row {
    margin-bottom: 15px;

    &:last-child {
      margin: 0 !important;
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .form {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}