@import 'src/styles/modules/_variables';
@import 'src/styles/modules/_colors';

.text-image {

  &-buttons {
    margin: 50px auto 0 auto;

    > .button {
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &-content {
    h1 {
      width: 100%;
      min-height: 0;
    }
  }

  &-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .hero-image {
    position: relative;
    background-image: url('../../../assets/images/oval.svg');
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: contain !important;
    width: 100%;
    text-align: center;

    img {
      width: 100%;
      max-height: 200px;
    }
  }
}

:not(.fullscreen) {
  .text-image {
    .hero-image {
      background-image: url('../../../assets/images/oval.svg');
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .text-image {
    padding-top: 50px;

    &-cols {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    &-content {
      width: 55%;
      padding-right: 50px;
    }

    div {
      z-index: 2;
    }

    .hero-image {
      background-size: 70% !important;
      width: 45%;
      height: 0;
      padding-bottom: 35%;

      img {
        max-height: 300px;
        position: relative;
      }
    }

    &-buttons {
      margin: 30px 0 0 0;
    }
  }
}
