@import '../../styles/modules/reset';
@import '../../styles/modules/_colors';
@import '../../styles/modules/_mixins';
@import '../../styles/modules/_variables';

.header {
  height: $header-height + 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: ($padding-vertical + 0px) ($padding-horizontal + 0px);

  &:not(.fullscreen) {
    @include gradient-vertical-image($background-main-start, $background-main-end, '../../assets/images/background.png');
  }

  &-logo {
    width: 80px;

    img {
      width: 100%;
      display: block;
    }
  }

  &-menu {
    &-toggle {
      width: 32px;
      height: 32px;
      background: url('../../assets/images/burger-menu.svg') center center no-repeat;
      background-size: contain;
    }
  }
}
