@import '../../styles/modules/reset';
@import '../../styles/modules/_colors';
@import '../../styles/modules/_mixins';
@import '../../styles/modules/_variables';

.header {
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0px;
  left: 0px;
  font-size: 14px;

  @include gradient-horizontal-image(
    $background-main-start,
    $background-main-end,
    '../../assets/images/background.png'
  );

  &-inner-wrapper {
    display: flex;
    width: calc(100% - #{($padding-horizontal-unit * 4) + 0px});
    padding: $padding-vertical (($padding-horizontal-unit * 2) + 0px);
    margin: 0 auto;
    max-width: $max-width;
    flex-direction: column;
  }

  &-inner {
    display: flex;
    height: $header-height + 0px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  &-logo {
    width: 80px;

    img {
      width: 100%;
      display: block;
    }
  }

  &-menu {
    &-toggle {
      width: 32px;
      overflow: hidden;
      cursor: pointer;

      &:after, &:before, div {
        background-color: $white;
        border-radius: 3px;
        content: '';
        display: block;
        height: 4px;
        margin: 7px 0;
        transition: all .4s ease-in-out;
      }

      &-close {
        &:before {
          transform: translateY(12px) translateX(3px) rotate(135deg);
        }

        &:after {
          transform: translateY(-10px) translateX(3px) rotate(-135deg);
        }

        div {
          transform: scale(0);
        }
      }
    }
  }

  &--logged-out {
    background-color: $background-3;
    display: none;

    .button {
      color: $white !important;
      border-color: $white !important;
    }
  }

  &.no-background {
    background: none;
  }

  &-dashboard {
    width: auto;
    height: 31px;
    border-radius: 17px;
    border: solid 2px $white;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    padding: 0 10px;

    p {
      color: $white;
      font-size: 13px;
      font-weight: 600;
      margin: 0;
      margin-top: 6px;
    }
  }

  &-children.disabled {
    opacity: 0.4;
    pointer-events: none
  }

  &-buttons {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

    > * {
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }
    }

    .button.tertiary {
      font-size: 14px;
      min-width: 140px;
      color: $white;
      border-color: $white;
    }
  }
}


.account .header {
  @include gradient-horizontal-image(
    $background-account-start,
    $background-account-end,
    '../../assets/images/background.png'
  );

  &.no-background {
    background: none;
  }
}

.company-design .header {
  @include gradient-horizontal-image(
    $gradient-primary-1,
    $gradient-primary-2,
    '../../assets/images/background.png'
  );

  &.no-background {
    background: none;
  }
}

.fullscreen .header {
  background: none;
}

.brochure .header {
  &--logged-out {
    display: block;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .header {
    &--logged-out {
      .header-inner {
        justify-content: flex-end;

        > * {
          margin-left: 20px;
        }
      }
    }

    &-buttons {
      flex-direction: row-reverse;
    }
  }

  .fullscreen {
    .header {
      background: $background-main-start;
    }

    &.account {
      .header {
        background: $background-account-start;
      }
    }
  }
}
