@import 'src/styles/modules/_colors.scss';
@import 'src/styles/modules/_mixins.scss';

.datepicker-modal {
  position: fixed!important;
  background: none!important;
}

.datepicker {
  position: fixed;

  .datepicker-navbar {
    display: flex;
    justify-content: center;
    padding: 20px;

    &-btn {
      position: relative;
      padding: 12px 35px;
      text-align: center;
      font-size: 18px;
      color: $text;
      background: $white;
      transition: all 0.3s;
      box-sizing: border-box;
      border-radius: 30px;
      letter-spacing: 1px;
      white-space: nowrap;
      height: auto;
      line-height: initial;
      text-decoration: none;

      &:first-child {
        @include gradient-horizontal($gradient-primary-1, $gradient-primary-2);
        color: $white!important;
        box-shadow: 0px 3px 5px $shadow;
        order: 2;
      }

      &:last-child {
        background: $grey;
        order: 1;
        margin-right: 30px;
      }
    }
  }
}
