@import '../../../styles/modules/variables';
@import '../../../styles/modules/colors';

.comparison {
  padding-top: 20px;
  margin-bottom: 30px;

  h3 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 30px;
  }

  &-footnote {
    max-width: 626px;
    text-align: right;
    margin: 0 auto;
    font-size: 16px;
    font-style: italic;
    top: -20px;
  }

  &-table {
    display: block;
    max-width: 626px;
    margin: 0 auto 50px auto;
    box-shadow: 0 5px 10px $shadow;
    border-radius: 10px;
    overflow: hidden;
    background: $disabled-offset;

    &-block {
      padding: ($padding-vertical-unit * 2 + 0px) ($padding-horizontal * 2 + 0px) 10px ($padding-horizontal * 2 + 0px);
      text-align: center;

      h4 {
        font-size: 26px;
        font-weight: 400;
        margin: 0 auto 20px auto;
      }

      &:first-of-type {
        background: $gradient-option-1;
        border-radius: 0 10px 10px 0;
      }
    }

    &-item {
      margin-bottom: 20px;

      &-label {
        font-size: 16px;
      }

      &-value {
        font-size: 28px;
        font-weight: 300;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .comparison {
    margin-bottom: 0px;
    
    &-table {
      display: flex;

      &-block {
        width: 50%;

        h4 {
          width: 70%;
          height: 70px;
        }
      }

      &-item {
        margin-bottom: 30px;
      }
    }
  }
}