@import 'src/styles/modules/_colors.scss';
@import 'src/styles/modules/_variables.scss';

.contact-us {
  border-radius: 8px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15);
  padding: $padding-vertical ($padding-horizontal-unit * 2 + 0px);
  display: flex;
  flex-direction: column;
  margin-left: $padding-horizontal-unit * 2 + 0px;
  margin-right: $padding-horizontal-unit * 2 + 0px;
  margin-bottom: 30px;
  background: $white;

  &-title {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
  }

  &-phone, &-email {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
      width: 16px;
      display: inline-block;
      margin-left: 5px;
      margin-right: 10px;
    }

    p {
      font-size: 16px !important;
      display: inline-block;
      font-weight: 300;
      margin-bottom: 0 !important;
    }
  }

  &-divider {
    border: solid 1px $divider-color;
  }

  .button.chat {
    margin: 15px auto 0 auto;
  }
}

.landing {
  .contact-us {
    p, ul {
      font-size: 16px !important;
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .contact-us {
    width: calc(100% - #{$padding-horizontal-unit * 10 + 0px});
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;

    &-details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      align-items: center;

      > * {
        margin: 0;
      }
    }

    &-divider {
      display: none;
    }

    .button.chat {
      margin: 0;
    }
  }
}
