@import 'src/styles/modules/_colors.scss';

.contact-us {
  font-size: 14px;
  font-weight: 600;
  line-height: 2.14;
  letter-spacing: 0.9px;
  color: $primary;
  text-decoration: underline;
  text-align: center;
}
