@import 'src/styles/modules/_colors.scss';
@import 'src/styles/pages/intro.scss';

.slick-slider {
  overflow: hidden;
  touch-action: none;

  .slick-track {
    display: flex;

    .slick-slide {
      div {
        outline: none;
      }

      &--image {
        @extend .intro--hero-image;
        display: block;
        height: 280px;
      }

      h2 {
        font-size: 36px;
        margin: 0;
        padding: 20px 0;
      }
    }
  }

  .slick-dots {
    padding: 0;
    text-align: center;
    margin: 0;

    li {
      display: inline-block;
      margin-right: 5px;

      &.slick-active button {
        background: #2e5472;
      }

      &:last-child {
        margin-right: 0;
      }

      button {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #FFF;
        text-indent: -9999px;
        border: 0;
        cursor: pointer;
        padding: 0;
        outline: none;
      }
    }
  }
}

.slick-slide--image-wrapper {
  height: 210px;
  background: url(../../assets/images/oval.svg) center center no-repeat;
  background-size: contain;
  margin: 0 auto;
  text-align: center;
}
