@import 'src/styles/modules/_colors.scss';
@import 'src/styles/pages/intro.scss';

.slick {
  
  &-arrow {
    position: absolute;
    left: 50%;
    bottom: 30px;
    cursor: pointer;
    filter: invert(1);

    &.slick-next {
      transform: translateX(450%);
    }

    &.slick-prev {
      transform: translateX(-550%);
    }
  }

  &-slide {
    > *, &--container {
      height: 100%;
      display: flex;
      align-items: stretch;
    }
  }

  &-slider {
    overflow: hidden;
    touch-action: none;
    margin-bottom: 30px;

    .slick-track {
      display: flex;

      .slick-slide {
        div {
          outline: none;
        }

        &--image {
          @extend .intro--hero-image;
          display: block;
          height: 280px;
        }

        h2 {
          font-size: 36px;
          margin: 0;
          padding: 20px 0;
        }
      }
    }

    .slick-dots {
      padding: 20px 0 0 0;
      text-align: center;
      margin: 0 auto 10px auto;

      li {
        display: inline-block;
        padding: 0px;
        margin: 0 3px !important;

        &.slick-active button {
          background: $gradient-option-1;
        }

        button {
          width: 14px;
          height: 14px;
          border-radius: 7px;
          background-color: #FFF;
          text-indent: -9999px;
          border: 0;
          cursor: pointer;
          padding: 0;
          outline: none;
          border: 1px solid $gradient-option-1;
        }

        &:before {
          display: none;
        }
      }
    }
  }
}

.slick-slide--image-wrapper {
  height: 210px;
  background: url(../../assets/images/oval.svg) center center no-repeat;
  background-size: contain;
  margin: 0 auto;
  text-align: center;
}

.landing-content.orange {
  .slick-dots {
    li {
      &.slick-active button {
        background: $white;
      }

      button {
        background: none;
        border-color: $white;
      }
    }
  }
}

.green {
  .slick-dots {
    li {
      &.slick-active button {
        background: $primary;
      }

      button {
        background: $white;
        border-color: $primary;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .slick {

    &-slider {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;

      .slick-slide  {
        &--container {
          display: flex !important;
          flex-direction: row-reverse !important;
        }
      }
    }
  }
}
