@import 'src/styles/modules/_colors.scss';
@import 'src/styles/modules/_mixins.scss';
@import 'src/styles/modules/_variables.scss';

.intro-box {
  font-size: 14px;
  margin-bottom: 20px;
  padding: $padding-vertical $padding-horizontal;
  @include gradient-horizontal($gradient-secondary-1, $gradient-secondary-2);

  > :last-child {
    margin-bottom: 0;
  }
}
