@import 'src/styles/modules/_colors.scss';
@import 'src/styles/modules/_mixins.scss';

.icon-button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include gradient-horizontal($gradient-primary-1, $gradient-primary-2);

  img {
    display: block;
    width: 100%;
    max-width: 20px;
    max-height: 20px;
  }

  &.chat {
    @include gradient-horizontal($gradient-option-1, $gradient-option-2);

    img {
      fill: $white;
    }
  }

  &.disabled {
    pointer-events: none;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $white;
      opacity: 0.4;
    }
  }
}