@import 'src/styles/modules/_colors';
@import 'src/styles/modules/_variables';

.landing {
  .step {
    padding: 20px 0 100px 0;

    &:after {
      content: '';
      height: 120px;
      width: 2px;
      background: $shadow;
      position: absolute;
      bottom: 0;
      left: calc(50% - 1px);
    }
  
    h2 {
      text-transform: uppercase !important;
      text-align: center;
      margin-bottom: 20px !important;
    }

    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      background: url(../../../assets/images/oval-dark.svg) center center no-repeat;
      background-size: contain;
      margin-bottom: 20px !important;
      height: 200px;

      img {
        height: 70%;
      }
    }

    &-instructions {
      padding-top: 3%;

      h3 {
        font-size: 23px !important;
        margin-bottom: 20px;
        text-align: center;
      }

      ul {
        width: 80%;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .landing {
    .step {
      padding-bottom: 30px;

      &:after {
        display: none;
      }

      h2 {
        margin-bottom: 50px !important;
      }

      &-content {
        display: flex;
      }

      &-image {
        width: 42.5%;
        background-size: 300px;
        margin-right: 7.5%;
        margin-bottom: 0;
        height: auto;

        img {
          max-width: 200px;
          height: auto;
        }
      }
  
      &-instructions {
        width: 42.5%;
        padding-left: 7.5%;
        border-left: 2px solid $border-offset;

        h3 {
          text-align: left;
        }

        ul {
          width: 90%;
        }
      }
    }
  }
}