@import 'src/styles/modules/_colors.scss';
@import '../../styles/modules/_variables';

.footer {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  padding: (($padding-vertical-unit * 2) + 0px) (($padding-horizontal-unit * 2) + 0px);
  color: $placeholder-text;

  &-outer {
    background-color: $border;
  }

  &-mask {
    background: $white;
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;
  }

  &-logo {
    width: 80px;
    margin-bottom: $padding-vertical;
  }

  &-login {
    font-weight: 600;
    color: $white;
    margin-top: 30px;
    margin-bottom: 20%;
  }

  &-location, &-legal {
    font-size: 15px;
    font-weight: 300;
    line-height: 2.15;
    margin-top: 30px;
    margin-bottom: 30px;
    color: $placeholder-text;
  }

  &-navigation {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    font-size: 18px;
    font-weight: 300;
    width: 100%;
    flex-wrap: wrap;

    .footer-link {
      display: inline-block;
      width: 50%;
      padding: 10px 0;
      display: flex;
      align-items: center;
      font-size: 14px;

      &:nth-child(even) {
        justify-content: flex-end;
        text-align: right;
      }
    }
  }
}

.fullscreen:not(.hasCurve) {
  .footer {
    &-outer, &-mask {
      background: none;
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .footer {
    padding-left: 0;
    padding-right: 0;

    &-links {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      > * {
        margin-right: 50px;
      }
    }

    &-navigation {
      flex-wrap: wrap;
      width: 75%;
      top: -10px;

      .footer-link {
        width: 33%;
        justify-content: flex-start !important;
      }
    }
  }
}
