@import 'src/styles/modules/_variables.scss';

.image-full {
  display: block;
  margin: (($padding-vertical-unit * 2) + 0px) (- ($padding-horizontal-unit * 2) + 0px);

  img {
    width: 100%;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .image-full {
    float: right;
    width: 25%;
  }
}
