.add-services {
  &-title {
    // margin-left: 35px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .intro-box {
    padding: 31px 15px;
  }

  button {
    margin-top: 28px;
  }
}
