@import 'src/styles/modules/colors';
@import 'src/styles/modules/_mixins.scss';
@import 'src/styles/modules/variables';

.text-input {
  margin-bottom: 2px;
  position: relative;
  box-sizing: border-box;

  &-label {
    text-transform: uppercase;
    color: $primary;
    padding-left: $padding-horizontal;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
  }

  &-required {
    position: absolute;
    right: 0;
    top: 0;
    color: $warning !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
  }

  &.background-gradient {
    input[type=number] {
      @include gradient-vertical($gradient-primary-1, $gradient-primary-2);
      color: $white;
      border-color: transparent;
    }
  }

  input[type=text], input[type=password], input[type=number], textarea {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid $border;
    border-radius: 5px;
    padding: $padding-horizontal;
    background: none;
    font-size: 14px;
    color: $text;
    outline: 0;
    box-shadow: 0 0 0 0 $primary;
    transition: all 0.3s;

    &:focus {
      box-shadow: 0 0 10px 0 $primary;
    }

    &::placeholder {
      color: $primary;
      opacity: 0.5;
    }

    &.error {
      border-color: $warning !important;
    }

    &:read-only {
      border: $disabled;
      background: $disabled;
      box-shadow: none;
    }

    &#datepicker-field {
      background: none;
      border: 1px solid $border;
    }
  }

  textarea {
    height: 120px;
  }

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
}

.fullscreen {
  .text-input {
    &-label, &-required, input.error {
      color: $white !important;
      border-color: $white !important;
    }
  }
}

.account {
  .text-input {
    &-label, input.error {
      color: $text;
      border-color: $text;
    }
  }
}

.company-design-purchase-details {
  .text-input {

    &-label:not(.radio-group--label) {
      width: 70%;
    }
  }
}
