@import 'src/styles/modules/_variables.scss';

.table-slider {
  padding: 30px 0;
  
  &-content {
    display: flex;

    > * {
      width: 0;
      flex-grow: 1;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-bullet {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    span {
      height: 10px;
      width: 10px;
      background-color: #bbb;
      border-radius: 50%;
      z-index: 2;
      margin-top: 25px;
      margin-left: 10px;
      float: right;

      &:last-child {
        margin-right: 19%;
      }

      &.active {
        background-color: #8a8a8a;
      }
    }
  }
}

.table {
  &-responses {
    display: flex;

    > * {
      width: 0;
      flex-grow: 1;
    }
  }
}
